.timer {
  display: flex;
  flex-direction: column;
  max-width: 400px;

  &__headings {
    h1 {
      line-height: 10%;
    }

    p {
      line-height: 0;
      color: grey;
    }
  }
  &__time {
    text-align: center;
  }

  &__editOptions {
    align-self: flex-end;
  }
}