.timer {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin-top: 10px;

  &__headings {
    h1 {
      line-height: 10%;
    }

    p {
      line-height: 25%;
      color: grey;
    }
  }
  &__time {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 24px;
  }

  &__editOptionsContainer {
    align-self: flex-end;
// Substitute Assets for Smaller pics
    img {
      height: auto;
      max-width: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
